html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
}

body * {
  box-sizing: border-box;
}

.berries header {
  background-color: #D9D9D9;
}
.berries header .container:nth-child(2) {
  display: none;
}
.berries main .homepage {
  padding-top: 10px;
  padding-bottom: 10px;
}
.berries main .homepage a {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #646464;
}
.berries main .page {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  width: 100%;
}
.berries main .page h4 {
  color: #BCBCBC;
}
.berries main .page span {
  color: #646464;
}
.berries main img {
  width: 100%;
  border-style: solid;
  border-color: #646464;
  border-width: 1px;
}
.berries main .title h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  letter-spacing: 0.01em;
  color: #1D1929;
  height: 30px;
  justify-content: flex-start;
}
.berries main .rev {
  display: flex;
  align-items: center;
}
.berries main .rev .review {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 16px;
}
.berries main .rev .review .stars {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  z-index: 0;
  position: absolute;
}
.berries main .rev .review .stars:before {
  content: "\f005\f005\f005\f005\f005";
  font-weight: 900;
  font-style: normal;
  line-height: 1;
}
.berries main .rev .review .stars.full {
  width: 89%;
  overflow: hidden;
  max-width: 90px;
  position: absolute;
  z-index: 1;
}
.berries main .rev .review .stars.full:before {
  color: yellow;
}
.berries main .rev .review p {
  display: flex;
}
.berries main .discount {
  display: flex;
  align-items: center;
  height: 24px;
  padding-top: 25px;
  padding-bottom: 20px;
  gap: 10px;
}
.berries main .discount :nth-child(1) {
  color: #CA8383;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.01em;
}
.berries main .discount :nth-child(2) {
  text-decoration: line-through;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.01em;
}
.berries main .quantityselector {
  position: relative;
  max-width: 150px;
  width: 100%;
}
.berries main .quantityselector input {
  width: 100%;
  height: 48px;
  border-style: solid;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}
.berries main .quantityselector i {
  position: absolute;
  bottom: 19px;
  height: 12px;
}
.berries main .quantityselector i.fa-minus {
  left: 10px;
}
.berries main .quantityselector i.fa-plus {
  right: 10px;
}
.berries main .addtocart button {
  margin-top: 20px;
  max-width: 330px;
}
.berries main p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.berries main h6 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #646464;
  padding-top: 20px;
  padding-bottom: 10px;
}
.berries main .addtocart button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 0 18px 18px 0;
  height: 48px;
  border: 1px solid #E8E8EA;
  border-left: none;
  gap: 8px;
  background: #059E67;
  border-radius: 12px;
  border-style: none;
  color: white;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 112%;
  min-width: 285px;
}
.berries main .walloftext {
  margin-top: 18px;
}
.berries main .walloftext h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #059E67;
}
.berries main .walloftext p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #1D1929;
  margin-bottom: 18px;
}
.berries main .walloftext ul {
  margin-bottom: 18px;
  list-style-type: circle;
  list-style: circle;
}
.berries main .walloftext li {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #1D1929;
  list-style-type: circle;
}
@media screen and (min-width: 700px) {
  .berries .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .berries .desktop {
    display: flex;
    gap: 55px;
  }
  .berries .desktop .titleimg,
.berries .desktop .desktopmode {
    width: 50%;
  }
  .berries .desktop .oneline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .berries .desktop .rev .review {
    width: 135px;
    height: 24px;
  }
  .berries .desktop .rev .review .stars {
    font-size: 24px;
  }
  .berries .desktop .rev .review .stars.full {
    max-width: 135px;
  }
  .berries .desktop img {
    height: auto;
    width: 100%;
  }
  .berries .desktop h2 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
  }
  .berries .desktop p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
  }
  .berries .highres {
    display: flex;
    align-items: flex-end;
    gap: 15px;
  }
  .berries main .homepage {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .berries main .homepage a {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #646464;
  }
  .berries main .desktop .discount p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
  }
  .berries main .walloftext h3 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;
  }
  .berries main .walloftext p {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
  }
  .berries main .walloftext li {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
  }
  .berries main .walloftext h5 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.error main .errortext {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  background-image: url(Images/404fruits.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 250px;
}
.error main .errortext h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #F9F9F9;
}
.error main .errortext h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #F9F9F9;
}
.error main .errortext a {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #059E67;
}
@media screen and (min-width: 500px) {
  .error main .errortext {
    height: 450px;
  }
  .error main .errortext h2 {
    font-size: 50px;
  }
  .error main .errortext h3 {
    font-size: 30px;
  }
  .error main .errortext a {
    font-size: 30px;
  }
}
@media screen and (min-width: 900px) {
  .error main .errortext {
    height: 650px;
  }
  .error main .errortext h2 {
    font-size: 70px;
  }
  .error main .errortext h3 {
    font-size: 50px;
  }
  .error main .errortext a {
    font-size: 50px;
  }
}
@media screen and (min-width: 1350px) {
  .error main .errortext {
    height: 950px;
  }
  .error main .errortext h2 {
    font-size: 50px;
  }
  .error main .errortext h3 {
    font-size: 30px;
  }
  .error main .errortext a {
    font-size: 30px;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}
body .container {
  padding-left: 16px;
  padding-right: 16px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

header .container:nth-child(1) {
  background-color: #D9D9D9;
  margin-bottom: 40px;
}
header .container:nth-child(2) {
  padding: 0px;
}
header .logo {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
header .logo img {
  width: 100%;
  max-width: 211px;
}
header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(Images/Search_Mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 150px;
}
header .search h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 24px;
}
header .search h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #646464;
  padding-bottom: 24px;
}
header .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 56px;
  justify-content: center;
}
header .search-bar i {
  font-size: 20px;
}
header .search-bar input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  border: 1px solid #E8E8EA;
  border-radius: 18px 0 0 18px;
  border-right: none;
}
header .search-bar button {
  border-radius: 0 18px 18px 0;
  height: 56px;
  border: 1px solid #E8E8EA;
  background-color: white;
  border-left: none;
}
header .search-bar button img {
  padding-right: 10px;
  size: 23px;
}

footer {
  background-color: #D9D9D9;
}
footer .logo {
  display: none;
}
footer a {
  color: #1D1929;
}
footer h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}
footer h5 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
footer li {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
footer .rights {
  padding-top: 30px;
  padding-bottom: 16px;
}

main h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 132%;
  height: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}
main .selector {
  display: none;
}
main .fruits {
  display: flex;
  flex-direction: column;
}
main .fruits .dropdown {
  display: none;
}
main .fruits .card {
  width: 100%;
  height: 128px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  display: flex;
  padding: 16px;
  gap: 16px;
  background: #F9F9F9;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
main .fruits .card span {
  display: none;
}
main .fruits .card a {
  position: relative;
  color: #1D1929;
}
main .fruits .card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
main .fruits .card .review {
  display: none;
}
main .fruits .card button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #059E67;
  border-radius: 12px;
  border-style: none;
  align-self: flex-end;
}
main .fruits .card i.fa-solid.fa-bag-shopping {
  width: 32px;
  height: 32px;
  color: white;
}
main .fruits .card .cardinfo {
  display: flex;
  flex-direction: column;
  height: 128px;
  width: 100%;
  white-space: normal;
}
main .fruits .card h4 {
  height: auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}
main .fruits .card h5 {
  color: #646464;
  padding-bottom: 35px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
}
main .fruits .card p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
}
main .fruits .card .sale {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  order: 0;
  background: #F0FEE2;
  padding: 4px 11px;
  position: absolute;
  border-radius: 10px;
  top: 0;
  color: #1D1929;
}
main .fruits .card .discount {
  display: flex;
  align-items: center;
  height: 24px;
}
main .fruits .card .discount :nth-child(1) {
  color: #CA8383;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.01em;
}
main .fruits .card .discount :nth-child(2) {
  text-decoration: line-through;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0.01em;
}
main .categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 30px;
  margin-top: 30px;
}
main .categories a {
  color: #1D1929;
}
main .categories .categoriescard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: auto;
  background: #F9F9F9;
  border-radius: 16px;
  text-decoration: none;
}
main .categories img {
  width: 100%;
  height: auto;
  padding-left: 17.5px;
  padding-right: 17.5px;
}
main .categories p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 147%;
  text-decoration: none;
}
main .pagination {
  display: none;
}

@media screen and (min-width: 700px) {
  header .search {
    background-position: center;
  }
  body .fruits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
  }
  body .fruits .card {
    flex: 1 0 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  body .fruits .card .review {
    display: inline-block;
    position: relative;
    width: 90px;
  }
  body .fruits .card .review .stars {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    z-index: 0;
    position: absolute;
  }
  body .fruits .card .review .stars:before {
    content: "\f005\f005\f005\f005\f005";
    font-weight: 900;
    font-style: normal;
    line-height: 1;
  }
  body .fruits .card .review .stars.full {
    width: 89%;
    overflow: hidden;
    max-width: 90px;
    position: absolute;
    z-index: 1;
  }
  body .fruits .card .review .stars.full:before {
    color: yellow;
  }
  body .fruits .card i.fa-solid.fa-bag-shopping {
    display: flex;
    align-items: center;
  }
  body .fruits .card button {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
  }
  body .fruits .card span {
    display: inline;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 112%;
    color: #FFFFFF;
  }
  body .categories {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .logo {
    display: initial;
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  footer .logo img {
    width: 100%;
    max-width: 211px;
  }
  footer .columns {
    display: flex;
    justify-content: space-between;
  }
  footer .columns h3 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }
  footer .columns li {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1024px) {
  header .container:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
  }
  header .logo {
    justify-content: flex-start;
  }
  header .search {
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 72px;
    background-position: center;
    background-color: #F9F9F9;
    border-radius: 12px;
    height: 232px;
    background-image: url(Images/Search_Desktop.png);
  }
  header .search h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;
    padding-top: 24px;
  }
  header .search h4 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 147%;
  }
  header .search-bar {
    padding: 0px;
    width: 383px;
  }
  .search {
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 72px;
    background-position: center;
    background-color: #F9F9F9;
    border-radius: 12px;
    height: 232px;
    background-image: url(Images/Search_Desktop.png);
  }
  .search h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;
    padding-top: 24px;
  }
  .search h4 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 147%;
  }
  .search-bar {
    padding: 0px;
    width: 383px;
  }
}
main .container {
  padding-left: 40px;
  padding-right: 40px;
}
main h2 {
  justify-content: flex-start;
}
main .selector {
  display: flex;
  justify-content: space-between;
  color: #646464;
}
main .selector .dropdown {
  display: flex;
  position: relative;
  color: #646464;
  align-items: center;
}
main .selector .dropdown h3 {
  padding-right: 10px;
}
main .selector .dropdown .dropdown-content {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0px;
  border: 1px solid #E8E8EA;
  border-radius: 12px;
  width: 63px;
  height: 32px;
}
main .selector .dropdown .dropdown-content option {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1350px) {
  header .container:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 12px;
  }
  header .logo {
    justify-content: flex-start;
  }
  header .search {
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 72px;
    background-position: center;
    background-color: #F9F9F9;
    border-radius: 12px;
    height: 232px;
    background-image: url(Images/Search_Desktop.png);
  }
  header .search h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: center;
    padding-top: 24px;
  }
  header .search h4 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 147%;
  }
  header .search-bar {
    padding: 0px;
    width: 383px;
  }
  main .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  main h2 {
    justify-content: flex-start;
  }
  main .selector {
    display: flex;
    justify-content: space-between;
    color: #646464;
  }
  main .selector .dropdown {
    display: flex;
    position: relative;
    color: #646464;
    align-items: center;
  }
  main .selector .dropdown h3 {
    padding-right: 10px;
  }
  main .selector .dropdown .dropdown-content {
    display: flex;
    justify-content: center;
    padding: 0px;
    text-align: center;
    border: 1px solid #E8E8EA;
    border-radius: 12px;
    width: 63px;
    height: 32px;
  }
  main .selector .dropdown .dropdown-content option {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .fruits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
  }
  main .fruits .card {
    flex: 1 0 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  main .fruits .card img {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  main .fruits .card h4 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
  }
  main .fruits .card i.fa-solid.fa-bag-shopping {
    height: auto;
  }
  main .fruits .card h5 {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }
  main .fruits .card span {
    display: inline;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 112%;
    color: #FFFFFF;
  }
  main .fruits .card button {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  main .pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 40px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 112%;
  }
  main .pagination:hover {
    color: #00774C;
  }
  main .categories {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
