html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  width: 100%;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
}
body .container {
  padding-left: 16px;
  padding-right: 16px;
}

p {
  margin-top: 0;
}

header .container:nth-child(2) {
  padding: 0px;
}
header .logo {
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
header .logo img {
  width: 100%;
  max-width: 211px;
}
header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(Images/Search_Mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 150px;
}
header .search h2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 24px;
}
header .search h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #646464;
}
header .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 56px;
  justify-content: center;
}
header .search-bar i {
  font-size: 20px;
}
header .search-bar input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  border: 1px solid #E8E8EA;
  border-radius: 18px 0 0 18px;
  border-right: none;
}
header .search-bar button {
  border-radius: 0 18px 18px 0;
  height: 56px;
  border: 1px solid #E8E8EA;
  background-color: white;
  border-left: none;
}
header .search-bar button img {
  padding-right: 10px;
  size: 23px;
}

footer {
  background-color: #D9D9D9;
}
footer .logo {
  display: none;
}
footer h3 {
  padding-top: 15px;
  padding-bottom: 20px;
}
footer h5 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
footer li {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
footer .rights {
  padding-top: 30px;
  padding-bottom: 16px;
}

main h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 132%;
  height: 32px;
  font-feature-settings: "liga" off;
  margin-top: 16px;
  margin-bottom: 16px;
}
main .card {
  width: 100%;
  height: 128px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  display: flex;
  padding: 16px;
  gap: 16px;
  background: #F9F9F9;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
main .card img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
main .card .review {
  display: none;
}
main .card button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #059E67;
  border-radius: 12px;
  margin-top: 60px;
  border-style: none;
}
main .card i.fa-solid.fa-bag-shopping {
  width: 32px;
  height: 32px;
  color: white;
}
main .card .cardinfo {
  display: flex;
  flex-direction: column;
  height: 128px;
  width: 100%;
  white-space: normal;
}
main .card h4 {
  height: auto;
  padding-left: 16px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 116%;
}
main .card h5 {
  height: 16px;
  color: #646464;
  padding-left: 16px;
  padding-bottom: 50px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
}
main .card p {
  padding-left: 16px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
}

/*# sourceMappingURL=style.css.map */
