@import "./variables";
@import "./mixins";


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    width: 100%;
}

body * {
    box-sizing: border-box;
}

@import "./styles-berries";
@import "./styles-404";

body {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

header {
    .container:nth-child(1) {
        background-color: $graybackround;
        margin-bottom: 40px;
    }

    .container:nth-child(2) {
        padding: 0px;
    }

    .logo {
        width: 100%;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

        img {
            width: 100%;
            max-width: 211px;
        }
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background-image: url(Images/Search_Mobile.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        padding-bottom: 150px;

        h2 {
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: 0.01em;
            text-align: center;
            padding-top: 24px;
        }

        h4 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: $gray2;
            padding-bottom: 24px;
        }


    }

    .search-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        width: 100%;
        height: 56px;
        justify-content: center;

        i {
            font-size: 20px;
        }

        input {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            width: 100%;
            height: 56px;
            border: 1px solid #E8E8EA;
            border-radius: 18px 0 0 18px;
            border-right: none;
        }

        button {
            border-radius: 0 18px 18px 0;
            height: 56px;
            border: 1px solid #E8E8EA;
            background-color: white;
            border-left: none;

            img {
                padding-right: 10px;
                size: 23px;
            }
        }

    }


}

footer {

    background-color: $graybackround;

    .logo {
        display: none;
    }

    a {
        color: $link;

    }

    h3 {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    h5 {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }

    li {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    .rights {
        padding-top: 30px;
        padding-bottom: 16px;
    }
}

main {
    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 132%;
        height: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .selector {
        display: none;
    }

    .fruits {
        display: flex;
        flex-direction: column;

        .dropdown {
            display: none;
        }

        .card {
            width: 100%;
            height: 128px;
            margin-bottom: 16px;
            padding-bottom: 10px;
            display: flex;
            padding: 16px;
            gap: 16px;
            background: #F9F9F9;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
            border-radius: 16px;

            span {
                display: none;
            }

            a {
                position: relative;
                color: $link;
            }

            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }

            .review {
                display: none;
            }

            button {
                width: 32px;
                height: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 8px;
                gap: 8px;
                background: #059E67;
                border-radius: 12px;
                border-style: none;
                align-self: flex-end;
            }

            i.fa-solid.fa-bag-shopping {
                width: 32px;
                height: 32px;
                color: white;
            }

            .cardinfo {
                display: flex;
                flex-direction: column;
                height: 128px;
                width: 100%;
                white-space: normal;
            }

            h4 {
                height: auto;
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 116%;
            }

            h5 {
                color: $gray2;
                padding-bottom: 35px;
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 130%;
            }

            p {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 135%;

            }

            .sale {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 130%;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.03em;
                order: 0;
                background: $greenlime;
                padding: 4px 11px;
                position: absolute;
                border-radius: 10px;
                top: 0;
                color: $link;

            }

            .discount {
                display: flex;
                align-items: center;
                height: 24px;

                :nth-child(1) {
                    color: $redlight;
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 135%;
                    letter-spacing: 0.01em;

                }

                :nth-child(2) {
                    text-decoration: line-through;
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 135%;
                    letter-spacing: 0.01em;

                }
            }

        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 30px;
        margin-top: 30px;

        a {
            color: $link;
        }

        .categoriescard {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding: 0px;
            width: 100%;
            height: auto;
            background: #F9F9F9;
            border-radius: 16px;
            text-decoration: none;

        }



        img {
            width: 100%;
            height: auto;
            padding-left: 17.5px;
            padding-right: 17.5px;
        }

        p {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 147%;
            text-decoration: none;

        }

    }

    .pagination {
        display: none;
    }
}

@media screen and (min-width: 700px) {

    header {
        .search {
            background-position: center;
        }
    }

    body {
        .fruits {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
            width: 100%;
            margin-top: 30px;

            .card {
                flex: 1 0 23%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;

                .review {
                    @include review;
                }

                i.fa-solid.fa-bag-shopping {
                    display: flex;
                    align-items: center;
                }

                button {
                    width: 100%;
                    height: 48px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-top: 20px;
                }

                span {
                    display: inline;
                    @include font("Nunito Sans", 14px, 700, 112%);
                    color: #FFFFFF;
                }
            }
        }

        .categories {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    footer {
        .logo {
            display: initial;
            width: 100%;
            padding-top: 25px;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;

            img {
                width: 100%;
                max-width: 211px;
            }
        }

        .columns {
            display: flex;
            justify-content: space-between;

            h3 {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 24px;
            }

            li {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

@media screen AND (min-width: 1024px) {
    header {
        .container:nth-child(2) {
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 12px;
        }

        .logo {
            justify-content: flex-start;
        }

        .search {
            align-items: flex-start;
            padding-bottom: 50px;
            padding-left: 72px;
            background-position: center;
            background-color: $productbackround;
            border-radius: 12px;
            height: 232px;
            background-image: url(Images/Search_Desktop.png);

            h2 {
                font-size: 24px;
                font-weight: 800;
                line-height: 32px;
                letter-spacing: 0.01em;
                text-align: center;
                padding-top: 24px;
            }

            h4 {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 147%;
            }
        }

        .search-bar {
            padding: 0px;
            width: 383px;
        }
    }

    .search {
        align-items: flex-start;
        padding-bottom: 50px;
        padding-left: 72px;
        background-position: center;
        background-color: $productbackround;
        border-radius: 12px;
        height: 232px;
        background-image: url(Images/Search_Desktop.png);

        h2 {
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: 0.01em;
            text-align: center;
            padding-top: 24px;
        }

        h4 {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 147%;
        }
    }

    .search-bar {
        padding: 0px;
        width: 383px;
    }
}

main {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    h2 {
        justify-content: flex-start;
    }

    .selector {
        display: flex;
        justify-content: space-between;
        color: $gray2;

        .dropdown {
            display: flex;
            position: relative;
            color: $gray2;
            align-items: center;

            h3 {
                padding-right: 10px;
            }

            .dropdown-content {
                text-align: center;

                display: flex;
                justify-content: center;
                padding: 0px;
                border: 1px solid #E8E8EA;
                border-radius: 12px;
                width: 63px;
                height: 32px;

                option {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 130%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media screen AND (min-width: 1350px) {



    header {
        .container:nth-child(2) {
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 12px;
        }

        .logo {
            justify-content: flex-start;
        }

        .search {
            align-items: flex-start;
            padding-bottom: 50px;
            padding-left: 72px;
            background-position: center;
            background-color: $productbackround;
            border-radius: 12px;
            height: 232px;
            background-image: url(Images/Search_Desktop.png);

            h2 {
                font-size: 24px;
                font-weight: 800;
                line-height: 32px;
                letter-spacing: 0.01em;
                text-align: center;
                padding-top: 24px;
            }

            h4 {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 147%;
            }
        }

        .search-bar {
            padding: 0px;
            width: 383px;
        }
    }

    main {
        .container {
            padding-left: 40px;
            padding-right: 40px;
        }

        h2 {
            justify-content: flex-start;
        }

        .selector {
            display: flex;
            justify-content: space-between;
            color: $gray2;

            .dropdown {
                display: flex;
                position: relative;
                color: $gray2;
                align-items: center;

                h3 {
                    padding-right: 10px;
                }

                .dropdown-content {
                    display: flex;
                    justify-content: center;
                    padding: 0px;
                    text-align: center;

                    border: 1px solid #E8E8EA;
                    border-radius: 12px;
                    width: 63px;
                    height: 32px;

                    option {
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 130%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .fruits {

            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
            width: 100%;
            margin-top: 30px;



            .card {
                flex: 1 0 23%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                background-color: white;

                img {
                    width: 100%;
                    border-radius: 0;
                    height: auto;
                }

                h4 {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 22px;
                }

                i.fa-solid.fa-bag-shopping {
                    height: auto;
                }

                h5 {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 130%;
                }

                span {
                    display: inline;
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 112%;
                    color: #FFFFFF;
                }

                button {
                    width: 100%;
                    height: 48px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: nowrap;
                    align-items: center;
                }


            }

        }

        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 16px;
            gap: 40px;
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 112%;

            &:hover {
                color: $buttonhover;
            }
        }

        .categories {
            grid-template-columns: repeat(5, 1fr);
        }


    }
}

//???????? Cum aplic stilizari pe dropdown??

// buton carduri pe mobile aliniat cu pretul
//stilizare card preturi in drept cu stele + spatii
//pe tableta spatii prea mari la carduri intre elemente
//preturile taiate au font mai mic din carduri
//background la stele trebuie sa fie gri nu negru
//culoare text sa fie mai spre gri